.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .loading-data{
    text-align: center;
    padding: 3px;
    color: #000;
    font-size:20px;
    height: inherit;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
  }
@media screen and (min-width: 600px) {
    .filter-container{
        width: 30%;
        position: absolute;
    }
    .card-container{
        margin-left: 30%;
    }
    .column {
        float: left;
        padding: 0 ;
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
    .row {
        margin: 0 -5px;
        }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
  }
@media (min-width:1024px) {
    .filter-container{
        height: 600px;
        width: 20%;
        height: auto;
        
    }
    .card-container{
        margin-left: 20%;
    }
    .column {
        float: left;
        width: 22%;
        padding: 0 10px;
    }
    .row {
        margin: 0 -5px;
        }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}
